{{ attach_library('nomad/gests-style') }}
{{ attach_library('core/drupal.dialog.ajax') }}

<div class="row">
  <h5>{{ markup }}</h5>
  <div class="col-12">
    {{ form }}
  </div>
</div>
  {% for item in items %}
  <div class="dboutput_wrapper row">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 cats_image">
      <a href="{{ item.image }}" target="_blank">
        <img src='{{ item.image }}' alt="Photo that user decided to add">
      </a>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 gests">
      <div>
        <p>{{ "Gest name:"|trans }}</p>
        <p class="gests_name"> {{ item.name }}</p>
        <br>
        <p>{{ "Gest email:"|trans }}</p>
        <p class="gests_email"> {{ item.email }}</p>
        <br>
        <p>{{ "Created:"|trans }}</p>
        <p class="gests_created"> {{ item.created }}</p>
        {% if user.hasPermission('administer nodes') %}
          <br>
          <span class="rm_btn">
            <a href="/admin/nomad/delete/{{ item.id }}?destination={{ root }}" class="rm_button use-ajax" data-dialog-type="modal">{{ "remove"|trans }}</a>
            <a href="/admin/nomad/update/{{ item.id }}?destination={{ root }}" class="edit_button">{{ "edit"|trans }}</a>
          </span>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}


